.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
.list-item {
  list-style: none;
}
#list-item1,
#list-item2,
#list-item3 {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
  opacity: 50%;
  border-radius: 4px;
}

#list-item1:hover,
#list-item2:hover,
#list-item3:hover {
  background: rgba(245, 241, 241, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
::ng-deep svg:hover{
color: #000000;
}
