<div class="well" id="well">
  <!-- SECTION 1 -->

  <!-- NAVBAR -->
  <div class="nav py-4">
    <div class="horizontal-list">
      <span class="nav-item" id="skills" (click)="scrollToSkills()">
        My Skills
      </span>
      <span class="nav-item" id="work" (click)="scrollToWork()"> Work </span>
      <span class="nav-item" id="contact" (click)="scrollToContact()">
        Contact </span
      >̀
    </div>
  </div>

  <div class="row sec1 home">
    <div class="center-head">
      <div class="img-section" id="img-section">
        <img src="/assets/helloImg.png" alt="helloImg" />
      </div>

      <div>
        <div class="name-title" id="name-title">
          <span data-text="Hi,">Hi,</span>
          <span data-text="I'm Shubham">I'm Shubham</span>
        </div>

        <div class="name-description typewriter" id="name-description">
          <span>
          <p>
            Frontend Developer based in Mumbai, India<span class="fs-4"
              >🇮🇳</span
            >
          </p>
        </span>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION 2 -->
  <div class="skills" style="height: 100vh;"></div>

  <!-- SECTION 3 -->
  <div
    class="work row"
    style="height: 100vh;"
  >
  <div class="center-head">
    <app-flip-card></app-flip-card>
 </div>
</div>

  <!-- SECTION 4 -->
  <div
    class="contact"
    style="height: 100vh;"
  ></div>
</div>

<!-- SCROLL TO TOP -->
<span class="scrollTop">
  <i (click)="scrollToHome()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#dedede"
      stroke-width="0.9545454545454546"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevrons-up"
    >
      <path d="m17 11-5-5-5 5" />
      <path d="m17 18-5-5-5 5" />
    </svg>
  </i>
</span>

<!-- CONTACT ME  -->
<span class="contact-links">
  <app-menu></app-menu>
</span>
<div class="contact-effect"></div>
