<div class="well" id="well">
  <!-- SECTION 1 -->

  <!-- NAVBAR -->
  <div class="col-12 nav py-4">
    <div class="col-sm-12 horizontal-list px-3">
      <a href="/assets/Frontend_Developer_Shubham.pdf" target="_blank" style="text-decoration: none;">
        <span class="nav-item" id="resume">
          Resume </span>
      </a>
      <span>
        <span class="nav-item px-4" id="skills" (click)="scrollToSkills()">
          My Skills
        </span>
        <span class="nav-item px-4" id="work" (click)="scrollToWork()">
          Work
        </span>
      </span>
    </div>
  </div>

  <div class="row sec1 home">
    <div class="center-head">
      <div class="img-section" id="img-section">
        <img src="/assets/helloImg.png" alt="helloImg" />
      </div>

      <div>
        <div class="name-title" id="name-title">
          <span data-text="Hi,">Hi,</span>
          <span data-text="I'm Shubham">I'm Shubham</span>
        </div>

        <div class="name-description typewriter" id="name-description">
          <span>
            <p>
              Frontend Developer based in Mumbai, India<span class="fs-4">🇮🇳</span>
            </p>
          </span>
        </div>
      </div>
    </div>
    <div class="center-head">Scroll</div>
  </div>

  <!-- SKILLS -->
  <div class="skills row" style="height: 100vh;">
    <div class="center-head">
      <app-skill></app-skill>
      <span class="ideaImg">
        <img src="/assets/IdeaImg.png" alt="ideaImg">
      </span>
    </div>
  </div>

  <!-- WORK -->
  <div class="work row" style="height: 100vh;">
    <div class="center-head">
      <app-flip-card></app-flip-card>
    </div>
  </div>


  <!-- SCROLL TO TOP -->
  <span class="scrollTop" id="scrollTop">
    <i (click)="scrollToHome()">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#dedede"
        stroke-width="0.9545454545454546" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-chevrons-up">
        <path d="m17 11-5-5-5 5" />
        <path d="m17 18-5-5-5 5" />
      </svg>
    </i>
  </span>

  <!-- CONTACT ME  -->
  <span class="contact-links">
    <app-menu></app-menu>
  </span>
  <div class="contact-effect"></div>