<div class="row background" id="background">
  <div class="col-sm-5" style="align-items: center; display: flex; justify-content: space-between">
    <app-menu></app-menu>
    <div class="img-section" id="img-section">
      <img src="/assets/helloImg.png" alt="helloImg" />
    </div>
  </div>

  <div class="col-sm-7" style="align-items: flex-start; display: flex; justify-content: center; flex-direction: column;">
    <div>
      <div class="name-title" id="name-title">
        <span data-text="Hi,">Hi,</span>
        <span data-text="I'm Shubham">I'm Shubham</span>
      </div>

      <div class="name-description typewriter" id="name-description">
        <p class="pa">Frontend Developer based in Mumbai, India</p>
      </div>

    </div>
  </div>
</div>
