* {
  box-sizing: border-box;
  // padding: 10px;
}
.well {
  background: rgb(237, 88, 88);
  background: linear-gradient(
    117deg,
    rgba(237, 88, 88, 1) 0%,
    rgba(231, 67, 235, 1) 38%,
    rgba(175, 50, 250, 1) 50%,
    rgba(118, 81, 222, 1) 62%
  );
}
.nav {
  background-color: transparent;
  position: absolute;
  right: 0px;
}
.home,
.skills,
.work,
.contact {
  width: 100vw;
  height: 100vh;
}
.center-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 700px;
  flex-wrap: wrap;
}
.img-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.row {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.name-description {
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.name-title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  font-size: 100px;
  line-height: 1.1em;
  margin-bottom: 18px;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }
  }
}
.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-delay: 1.5s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
  height: 50px;
}
.scrollTop {
  position: fixed;
  left: 15px;
  bottom: 40px;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
}
.scrollTop:hover {
  background: rgba(255, 255, 255, 0.249);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transform: translateY(5px);
}
.contact-links {
  position: fixed;
  left: 15px;
  bottom: 350px;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
span.nav-item {
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-left: 10px;
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 1.5px;
  text-anchor: middle;
  dominant-baseline: middle;
  cursor: pointer;
}
img {
  width: 360px;
  height: auto;
}
// MEDIA QUERIES
// MID
@media screen and (min-width: 900) and (max-width: 1810px) {
  img {
    width: 310px;
    height: auto;
  }
  .name-title {
    font-size: 65px;
  }
  .home {
    width: 100vw;
    height: 100vh;
  }
  .horizontal-list, .nav {
    width: 100%;
  }
  span.nav-item {
    font-size: 20px;
  }
  .center-head {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
}
// SMALL
@media screen and (min-width: 400px) and (max-width: 1100px) {
  img {
    width: 260px;
    height: auto;
  }
  .name-title {
    font-size: 55px;
  }
  .home {
    width: 100vw;
    height: 100vh;
  }
  .horizontal-list, .nav {
    width: 100%;
  }
  span.nav-item {
    font-size: 16px;
  }
  .center-head {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .contact-links {
    bottom: 450px;
  }
  .scrollTop{
    bottom: 95px;
  }
}

span.nav-item {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}
